Keys/*

*.v2
*.vsidx

bin/
obj/
*.db
*.pdb
*.log
*.user
*.suo
*.sqlite
*.sqlite3
.vs/
.vscode/
 
node_modules/
dist/
tmp/
package-lock.json
.angular/
.env
 
firebase-debug.log
.firebaserc

*.swp
*.swo
*.tmp
Thumbs.db
Desktop.ini
*.bak
.DS_Store