<div class="container">
  <h2>Tasks for {{selectedDate | date: 'dd MMM. yyyy'}}</h2>

  <div *ngIf="!tasks.length && !loadingText">
    <h3>No tasks were found.</h3>
  </div>
  <div *ngIf="loadingText">
    <h3>{{loadingText}}</h3>
  </div>

  <div class="task-list" *ngIf="tasks.length">
    <p-card *ngFor="let task of tasks" class="task-card">
      <div class="task-header">
        <div class="task-content" (click)="openTaskDetails(task)">
          <h3 [ngClass]="{'completed-text': task.completed}">{{ task.name
            }}</h3>

          <p *ngIf="task.startTime === '--:--' ">
            <strong>Until </strong> {{ task.endTime }}</p>
          <p *ngIf="task.startTime !== '--:--' "><strong>From </strong> {{
            task.startTime }} -
            <strong>until </strong> {{ task.endTime }}</p>
        </div>
        <button class="complete-btn" [class.completed]="task.completed"
          (click)="task.completed = !task.completed">
          {{ task.completed ? "Undo" : "Complete" }}
        </button>
      </div>
    </p-card>
  </div>

  <div class="button-container">
    <button pButton label="Add Task" icon="pi pi-plus" class="add-btn"
      (click)="addTask()"></button>
    <!-- <button pButton label="Calendar" icon="pi pi-calendar" class="calendar-btn" (click)="openCalendar()"></button> -->
    <h2>Select a Date</h2>
    <input type="date" [(ngModel)]="selectedDate" (change)="onDateChange()"
      class="form-control">
  </div>
