<div class="container home">
  <div class="home__navbar">
    <span>
      <i class="bi bi-person-fill"></i> Welcome, {{user.name.split(' ')[0]}}!
    </span>
    <div *ngIf="loadingText" class="loading__text">
      <h3>{{loadingText}}</h3>
    </div>
    <button pButton class="button button--left button--right button--logout" (click)="logout()">
      Logout
    </button>
  </div>
  <div class="home__header">
    <div class="action__container">
      <button pButton class="button button--left" (click)="changeTaskView()">
        {{ userPreferences.showAllTasks ? "View by date" : "View all" }}
      </button>
      <button pButton label="Add Task" icon="pi pi-plus" class="button button--right" (click)="addTask()"></button>
    </div>

    <div class="action__container">
      <p>Show:</p>
      <select class="form-control" name="filter_completed" #filter (change)="showTaskType(filter.value)">
        <option *ngFor="let item of showTaskTypesValues | keyvalue" [value]="item.key"
          [selected]="userPreferences.showTaskType === item.key">{{item.value}}</option>
      </select>
    </div>
    <div class="action__container">
      <p>Sort by:</p>
      <select class="form-control" name="filter_completed" #sortBy (change)="sortTasksBy(sortBy.value)">
        <option *ngFor="let item of sortTasksByValues | keyvalue" [value]="item.key"
          [selected]="userPreferences.sortTasksBy === item.key">{{item.value}}</option>
      </select>
    </div>
    <div *ngIf="!userPreferences.showAllTasks" class="action__container">
      <p>Select a Date:</p>
      <input type="date" id="select-date" [(ngModel)]="selectedDate" (change)="onDateChange()" class="form-control">
    </div>

    <div class="home__header__title">
      <hr>
      <h2 *ngIf="!userPreferences.showAllTasks">
        Tasks for {{selectedDate | date: 'dd MMM. yyyy'}}
      </h2>
      <h2 *ngIf="userPreferences.showAllTasks">All Tasks</h2>
    </div>
  </div>

  <div *ngIf="!filteredTasks.length && !loadingText">
    <h3>No tasks were found.</h3>
  </div>

  <div class="task-list" *ngIf="filteredTasks.length">
    <p-card *ngFor="let task of filteredTasks; index as i" class="task-card">
      <div class="task-header">
        <div class="task-content" (click)="openTaskDetails(task)">
          <h3 [ngClass]="{'completed-text': task.isCompleted}">
            {{ (i + 1) + '. ' + task.name}}
          </h3>
          <p>
            <span *ngIf="task.startTime && task.startTime !== '--:--' ">
              <strong>From </strong>
              {{task.dates[0] | date: 'dd MMM. yyyy'}},
              {{task.startTime }}
            </span>
          </p>
          <p>
            <strong>Until </strong>
            {{task.dates.at(-1) | date: 'dd MMM. yyyy'}} {{
            task.endTime }}
          </p>
        </div>
        <button class="complete-btn" [class.completed]="task.isCompleted" (click)="toggleTaskCompletion(task)">
          {{ task.isCompleted ? "Undo" : "Complete" }}
        </button>
      </div>
    </p-card>
  </div>
</div>