.container {
  text-align: center;
  padding: 0 20px;
  background-color: #ffffff;
}

h2 {
  color: #28a745;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  max-height:55vh;
  width:100%;
  overflow-y: auto;
  padding:10px;
}


.task-card {
  width: 50%;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
  cursor: pointer;
}

.task-card:hover {
  transform: scale(1.03);
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.task-content {
  flex: 1;
  margin-left: 10px;
  cursor: pointer;
}

.complete-btn {
  padding: 8px 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.complete-btn:not(.completed) {
  background-color: #28a745;
  color: white;
}

.complete-btn.completed {
  background-color: gray;
  color: white;
}

.complete-btn:hover {
  opacity: 0.8;
}

.complete-btn:active {
  transform: scale(1.05);
}

.complete-btn:disabled {
  cursor:not-allowed;
}

.completed-text {
  text-decoration: line-through;
  color: gray;
}

h3 {
  color: #28a745;
}

.action__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 350px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
}

.calendar-btn {
  background-color: #28a745;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px;
  margin: 40px auto 0;
}

.calendar-btn:hover {
  opacity: 0.8;
}

.button {
  width: 10%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  max-width: 200px;
}


.button:hover {
  background-color: #ccc;
}


.home__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button--right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.button--left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


input[type="date"] {
  width: 50%;
  height: 30px;
  border: none;
}

.action__container input,
.action__container p {
  padding: 0;
  width: 45%;
  height: 50px;
  text-align: center;
  vertical-align: baseline;
}

.action__container input {
  margin: 2px 5px 0 0;
}

.home__navbar {
  width: 100%;
  height: 30px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}


.button--logout {
  border: none;
  width: 100px;
}

select {
  border: none;
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 50%;
}

.loading__text {
  margin-top: -20px;
}

#select-date {
  font-size: 1.5rem;
  width: 170px;
  color: #28a745;
  font-weight: bold;
}

#select-date:hover {
  cursor: pointer;
}

#select-date:focus, #select-date:active {
  border:none !important;
}


.action__container select:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.action__container select:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.home__header__title {
  width:350px;
}
