<div class="modal">
  <h2>{{ task.name }}</h2>
  <p><strong>Description:</strong> {{ task.description }}</p>
  <p *ngIf="task.startTime !== '--:--'">
    <strong>From:</strong> {{task.dates.at(0) | date : 'dd. MMM. YYYY'}}, {{ task.startTime}}
  </p>
  <p><strong>Until:</strong> {{task.dates.at(-1) | date : 'dd. MMM. YYYY'}},  {{ task.endTime }}</p>

  <div class="modal-actions">
    <button class="delete-btn" (click)="deleteTask(task)">Delete</button>
    <button class="edit-btn" (click)="editTask(task.id)">Edit</button>
    <button class="close-btn" (click)="close()">Close</button>
  </div>
</div>
