<div class="container">
  <h2>Register</h2>
  <p *ngIf="successMessage" class="success--text">{{successMessage}}</p>
  <p *ngIf="errorMessage" class="error--text">{{errorMessage}}</p>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">

    <div class="form__group text--left">
      <label for="name">Name *</label>
      <input type="text" id="name" class="form__control"
        formControlName="name" placeholder="Ex. John Doe">
    </div>
    <div class="form__group text--left">
      <label for="email">Email *</label>
      <input type="email" id="email" class="form__control"
        formControlName="email" placeholder="johndoe@gmail.com">
      <p class="error--text text--left max--width"
        *ngIf="registerForm.get('email')?.value.length && registerForm.get('email')?.invalid">
        Invalid email
      </p>
    </div>
    <div class="form__group text--left">
      <label for="password">Password *</label>
      <input
        id="password"
        [type]=" showPassword ? 'text' : 'password' "
        class="form__control"
        formControlName="password"
        placeholder="Enter your password" />
      <i class="bi"
        (click)="togglePassword()"
        [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill' "></i>

      <div class="error--text text--left max--width"
        *ngIf="!validatePassword() && this.registerForm.get('password')?.value.length">
        <p>Password must contain:</p>
        <ul>
          <li>at least 8 characters</li>
          <li>1 small letter</li>
          <li>1 capital letter</li>
          <li>1 number</li>
          <li>1 special character</li>
        </ul>
      </div>
    </div>
    <div class="form__group text--left">
      <label for="confirm-password">Confirm Password *</label>
      <input type="password" id="confirm-password" class="form__control"
        formControlName="confirmPassword"
        placeholder="Confirm your password">
      <p class="error--text text--left max--width"
        *ngIf="!passwordsMatch() && registerForm.get('confirmPassword')?.value.length">
        Passwords do not match
      </p>
    </div>
    <button type="submit" class="button"
      [disabled]="registerForm.invalid || !passwordsMatch()">Register</button>
  </form>
  <p class="not-registered">
    Not registered yet? <a class="register-link"
      routerLink="/login">Click
      here</a>
  </p>
</div>
